<section class="hero-section">
  <div class="hero-bg-blur"></div>
  <div class="hero-bg-img">
    <img
      alt="Abstract background"
      class="hero-bg-img-el"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuBKPPT_oFNAOqDRvCwdPIo4QUwrD4BeQOoflUSkNGd-Hlgy6GV1t-2oI2PQFzC8XSwIKCOk4xwxYPFg8dZ984oR8RMr9E1zbfQyg4pA-z44VUL91EmaeMSBDkQqTWjqJ4fJHHytYAZO09f73_dKDZVCyl0NQAvQIS-purcplwfR781jt90JCc3Qn1MfGzmtz9GSLc3zfAeLF9RW4Cdr--UwRW_DTASbzpQorPyokNs3ek4TEwYR4XADUMTueLdO2kZASxLlIt_VHiYI"
    />
  </div>
  <div
    class="hero-bg-shape hero-bg-shape-bottom"
    style="animation-delay: 2s"
  ></div>
  <div
    class="hero-bg-shape hero-bg-shape-top"
    style="animation-delay: 1s"
  ></div>
  <div class="hero-container">
    <h1 class="hero-title">
      Fueling Ideas.
      <span class="hero-highlight">Connecting Visionaries.</span>
    </h1>
    <p class="hero-desc" style="animation-delay: 0.3s">
      InvestGo bridges the gap between dreamers and funders in one streamlined
      platform.
    </p>
    <div class="hero-actions" style="animation-delay: 0.6s">
      <a class="hero-btn hero-btn-primary" href="#"> Start Investing </a>
      <a class="hero-btn hero-btn-secondary" href="#"> Pitch Your Idea </a>
    </div>
  </div>
</section>
