<section class="about-section" id="about">
  <div class="about-container">
    <div class="about-img-anim">
      <img
        alt="Team collaborating"
        class="about-img"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBHf51S9jos3IWT3_N5u_uDHIV76vMroUM2XxgtrXD3SqUSwspLmnPljXNvg-rXx5TQ66Wdaa5xqrK5ry03OA0rwdeH2FljmQ7lGRtobGPU0rUF_ylFETxBZViuXxd4gqVcll1nypnwgfaIfgSRL07KnfyHWNuanilH6gvt0rrl6WEGeHZVgUI0FUEBk4u2LYZ1maEWlPNZSUOpuI_avELOggz3bgFlIZLMbKLs622zVDtJKccki0UT8RQ0vr94odVPnzyO9w_7bvbq"
      />
    </div>
    <div class="about-content" style="animation-delay: 0.3s">
      <h2 class="about-title">
        Simplifying Investment, Empowering Entrepreneurs
      </h2>
      <p class="about-desc">
        InvestGo is on a mission to democratize startup funding. We break down
        the traditional barriers of visibility, access to funding, and
        communication, providing a transparent and efficient ecosystem. For
        investors, we offer curated, high-potential opportunities. For
        entrepreneurs, we provide the platform to shine and secure the capital
        needed to turn bold ideas into reality.
      </p>
    </div>
  </div>
</section>
