<section class="contact-section" id="contact">
  <div class="contact-bg-shape contact-bg-shape-top"></div>
  <div
    class="contact-bg-shape contact-bg-shape-bottom"
    style="animation-delay: 1.5s"
  ></div>
  <div class="contact-container">
    <div class="contact-img-anim">
      <img
        alt="Abstract 3D shapes"
        class="contact-img"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuBzyz2EPR66FkAJv47neB7ibvK6i-EcuyaR-3eIJ-YdPdBJQ6mVFkZPcQWsFiE_8xaKJsCrH4uVFzTJREJGafv5uR6OimGb6QIJj4o7AxS222FusbTf62oCFDSME5AoOaTqyoM9uZB8KPGSYAYA6Z14i8VKe5MC-vqs85gHlq_3X09B5V-5Afwbt3NTXqSuUtgWa-8x9S12lyO9OCESo_5x3gXcWkwnoLrgh-DOR9WcTwDPF5x05TmrP_-y_KiGvFk1ZBBtRA3jBMar"
      />
    </div>
    <h2 class="contact-title">Ready to Join the Revolution?</h2>
    <p class="contact-desc" style="animation-delay: 0.2s">
      Sign up today or schedule a demo to see how InvestGo can work for you.
    </p>
    <a class="contact-btn" href="#" style="animation-delay: 0.4s">
      Get Started Now
    </a>
  </div>
</section>
